<div>
<span>{{ market.key }}</span>&nbsp;
<span *ngIf="market.key.substring(0,1) === 'l'">Description: {{ market.value.desc }}</span>
<span *ngIf="market.key.substring(0,1) === 'm'">Markets : {{ market.value.parent }}</span>
<span *ngIf="market.key.substring(0,1) === 'o'">Outcomes : {{ market.value.parent }}</span>
</div>

